<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
    <title>Documentation</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    <nav class="bg-white py-2 px-2 flex flex-col border-b-2 border-gray-400">
      <div class="flex flex-initial justify-center flex-col items-center">
        <h1 class="text-3xl font-medium text-gray-700">
          UI Kit
        </h1>
        <p class="font-light text-gray-500 -mt-1">
          Documentation
        </p>
      </div>
    </nav>
  </body>
</html>